[Kubernetes]
baseurl = https://art.rambler.ru/pkgs-k8s.io/v{{ k8s_version }}/rpm/
enabled = 1
gpgcheck = 1
gpgkey = https://art.rambler.ru/pkgs-k8s.io/v{{ k8s_version }}/rpm/repodata/repomd.xml.key
name = Kubernetes
